<header>
    <h1>OG 151 Pokedex</h1>
</header>
<nav>
    <a href="/pokemon/new">A Wild Pokemon Appears</a>
</nav>
<main>
    <div class="container">
        <h2> The Pokemanz</h2>
        <ul>
            <% for(let i = 0; i < poke.length; i++) {%>
                <li>
                    <img src=<%=poke[i].img%>></br>
                    <a href="/pokemon/<%=i%>"><%=poke[i].name%></a>
                    <form action="/pokemon/<%=i; %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>
                </li>
                </br>

            <%}%>
        </ul>
    </div>
</main>