
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> A Wild Pokemon Appears!</title>
  </head>
  <body>
    <h1>A Wild Pokemon Appeared!</h1>
    <h2>Add it to the Pokedex</h2>

    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name" /> <br />
        Color: <input type="text" name="color" /> <br />
        Is Ready To Eat: <input type="checkbox" name="readyToEat" /> <br />
        <input type="submit" value="Create Fruit" />
    </form>

</body>
</html>