
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> A Wild Pokemon Appears!</title>
  </head>
  <body>
    <h1>A Wild Pokemon Appeared!</h1>
    <h2>Add it to the Pokedex</h2>
<main class="show-main">
    <form id=info action="/pokemon" method="POST">
        name: <input type="text" name="name" placeholder="name" /> <br />
        img: <input type="text" name="img" placeholder="add image here"/> <br />
        type: <input type="text" name="type" placeholder="type" /> <br />
        hp: <input type="number" name="hp"placeholder="stats.hp" /> <br />
        attack: <input type="number" name="attack" placeholder="stats.attack" /> <br />
        defense: <input type="number" name="defense" placeholder="stats.defense" /> <br />
        <input type="submit" value="catalog" />
    </form>
</main>
</body>
</html>